<a href="https://colab.research.google.com/github/FerdiErs/NGC-Hacktiv8/blob/main/h8dsft_Descriptive_NGC_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions
1. Unduh dataset yang akan dipakai [disini](https://www.kaggle.com/datasets/hendratno/covid19-indonesia).
2. Cari Measure of Central Tendency dari data tersebut.
3. Cari Measure of Variance dari data tersebut.

# Import Library

In [2]:
import pandas as pd 
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Dataset

In [3]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [9]:
!mkdir ~/.kaggle
!cp /content/kaggle.json ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [10]:
!ls ~/.kaggle

kaggle.json

In [11]:
!kaggle datasets download -d hendratno/covid19-indonesia

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading covid19-indonesia.zip to /content
  0% 0.00/1.22M [00:00<?, ?B/s]
100% 1.22M/1.22M [00:00<00:00, 202MB/s]

In [12]:
!unzip -q /content/covid19-indonesia.zip -d dataset #simpan hasil zipnya kedalam folder dataset

In [13]:
df = pd.read_csv('/content/dataset/covid_19_indonesia_time_series_all.csv')
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,182.93%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.0,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,174.42%,1.0,1.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 9.2+ MB

In [15]:
df.isnull().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                31822
Province                         929
Country                            0
Continent                          0
Island                           929
Time Zone                        929
Special Status                 27264
Total Regencies                    0
Total Cities                     901
Total Districts                    0
Total Urban Villages             904
Total Rural Villages             929
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Total Deaths per 100rb             0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases      1939
Growth Factor of New Deaths     3447
dtype: int64

# Measure of Central Tendency 
 1. MEAN
 2. MEDIAN 
 3. MODUS

In [16]:
obj_cols= list(df.select_dtypes('object'))
num_cols= list(df.select_dtypes('number'))
print(obj_cols)
print(num_cols)

['Date', 'Location ISO Code', 'Location', 'Location Level', 'Province', 'Country', 'Continent', 'Island', 'Time Zone', 'Special Status', 'Case Fatality Rate', 'Case Recovered Rate']
['New Cases', 'New Deaths', 'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Total Active Cases', 'City or Regency', 'Total Regencies', 'Total Cities', 'Total Districts', 'Total Urban Villages', 'Total Rural Villages', 'Area (km2)', 'Population', 'Population Density', 'Longitude', 'Latitude', 'New Cases per Million', 'Total Cases per Million', 'New Deaths per Million', 'Total Deaths per Million', 'Total Deaths per 100rb', 'Growth Factor of New Cases', 'Growth Factor of New Deaths']

In [19]:
data_mean = df[num_cols].mean().rename('mean')
data_median = df[num_cols].median().rename('median')
data_mode = df[num_cols + obj_cols].mode().iloc[0].rename('mode')

central_ten = pd.concat([data_mean,data_median,data_mode], axis =1 )
central_ten

                                     mean        median           mode
New Cases                    4.023114e+02  2.700000e+01            0.0
New Deaths                   9.920652e+00  0.000000e+00            0.0
New Recovered                3.903985e+02  2.000000e+01            0.0
New Active Cases             1.992238e+00  0.000000e+00            0.0
Total Cases                  1.594500e+05  2.359650e+04            1.0
Total Deaths                 4.564753e+03  5.655000e+02            1.0
Total Recovered              1.492615e+05  2.102750e+04            1.0
Total Active Cases           5.623782e+03  5.570000e+02            4.0
City or Regency                       NaN           NaN            NaN
Total Regencies              2.402728e+01  1.100000e+01           12.0
Total Cities                 5.835840e+00  2.000000e+00            1.0
Total Districts              4.179523e+02  1.690000e+02           44.0
Total Urban Villages         5.055139e+02  1.750000e+02           35.0
Total Rural Villages         4.462493e+03  1.591000e+03        74953.0
Area (km2)                   1.106532e+05  4.201300e+04          664.0
Population                   1.536766e+07  4.216171e+06     10846145.0
Population Density           7.388949e+02  1.038400e+02         138.34
Longitude                    1.137005e+02  1.134177e+02     106.836118
Latitude                    -2.725681e+00 -2.461746e+00      -6.204699
New Cases per Million        2.813329e+01  5.710000e+00            0.0
Total Cases per Million      1.148504e+04  6.804285e+03       11775.71
New Deaths per Million       6.403083e-01  0.000000e+00            0.0
Total Deaths per Million     2.896336e+02  1.584150e+02            0.0
Total Deaths per 100rb       2.896333e+01  1.584000e+01            0.0
Growth Factor of New Cases   1.326795e+00  1.000000e+00            1.0
Growth Factor of New Deaths  1.033834e+00  1.000000e+00            1.0
Date                                  NaN           NaN       1/1/2021
Location ISO Code                     NaN           NaN          ID-JK
Location                              NaN           NaN    DKI Jakarta
Location Level                        NaN           NaN       Province
Province                              NaN           NaN    DKI Jakarta
Country                               NaN           NaN      Indonesia
Continent                             NaN           NaN           Asia
Island                                NaN           NaN       Sumatera
Time Zone                             NaN           NaN      UTC+07:00
Special Status                        NaN           NaN  Daerah Khusus
Case Fatality Rate                    NaN           NaN          0.00%
Case Recovered Rate                   NaN           NaN          0.00%

# Measure of Variance


1.   Standar deviasi
2.   Varians

In [21]:
standar_dev = df[num_cols].std().rename('Standart_deviation')
varians = df[num_cols].var().rename('Varians')

Measure_of_variance = pd.concat([standar_dev, varians],axis=1)
Measure_of_variance

                             Standart_deviation       Varians
New Cases                          2.320630e+03  5.385323e+06
New Deaths                         6.413908e+01  4.113822e+03
New Recovered                      2.199879e+03  4.839467e+06
New Active Cases                   1.219513e+03  1.487213e+06
Total Cases                        6.264435e+05  3.924314e+11
Total Deaths                       1.769373e+04  3.130681e+08
Total Recovered                    5.958536e+05  3.550415e+11
Total Active Cases                 2.853741e+04  8.143839e+08
City or Regency                             NaN           NaN
Total Regencies                    6.835973e+01  4.673053e+03
Total Cities                       1.639012e+01  2.686361e+02
Total Districts                    1.192995e+03  1.423237e+06
Total Urban Villages               1.422071e+03  2.022286e+06
Total Rural Villages               1.258274e+04  1.583253e+08
Area (km2)                         3.187865e+05  1.016248e+11
Population                         4.461714e+07  1.990689e+15
Population Density                 2.729432e+03  7.449797e+06
Longitude                          9.862068e+00  9.726039e+01
Latitude                           3.608065e+00  1.301813e+01
New Cases per Million              7.430971e+01  5.521933e+03
Total Cases per Million            1.647739e+04  2.715042e+08
New Deaths per Million             1.933016e+00  3.736552e+00
Total Deaths per Million           3.634287e+02  1.320804e+05
Total Deaths per 100rb             3.634288e+01  1.320805e+03
Growth Factor of New Cases         2.679379e+00  7.179074e+00
Growth Factor of New Deaths        1.351755e+00  1.827242e+00

In [22]:
complete_data = pd.concat([central_ten, Measure_of_variance], axis = 1)
complete_data

,mean,median,mode,Standart_deviation,Varians
New Cases,4.023114e+02,2.700000e+01,0.0,2.320630e+03,5.385323e+06
New Deaths,9.920652e+00,0.000000e+00,0.0,6.413908e+01,4.113822e+03
New Recovered,3.903985e+02,2.000000e+01,0.0,2.199879e+03,4.839467e+06
New Active Cases,1.992238e+00,0.000000e+00,0.0,1.219513e+03,1.487213e+06
Total Cases,1.594500e+05,2.359650e+04,1.0,6.264435e+05,3.924314e+11
Total Deaths,4.564753e+03,5.655000e+02,1.0,1.769373e+04,3.130681e+08
Total Recovered,1.492615e+05,2.102750e+04,1.0,5.958536e+05,3.550415e+11
Total Active Cases,5.623782e+03,5.570000e+02,4.0,2.853741e+04,8.143839e+08
City or Regency,NaN,NaN,NaN,NaN,NaN
Total Regencies,2.402728e+01,1.100000e+01,12.0,6.835973e+01,4.673053e+03
Total Cities,5.835840e+00,2.000000e+00,1.0,1.639012e+01,2.686361e+02
Total Districts,4.179523e+02,1.690000e+02,44.0,1.192995e+03,1.423237e+06
Total Urban Villages,5.055139e+02,1.750000e+02,35.0,1.422071e+03,2.022286e+06
Total Rural Villages,4.462493e+03,1.591000e+03,74953.0,1.258274e+04,1.583253e+08
Area (km2),1.106532e+05,4.201300e+04,664.0,3.187865e+05,1.016248e+11
Population,1.536766e+07,4.216171e+06,10846145.0,4.461714e+07,1.990689e+15
Population Density,7.388949e+02,1.038400e+02,138.34,2.729432e+03,7.449797e+06
Longitude,1.137005e+02,1.134177e+02,106.836118,9.862068e+00,9.726039e+01
Latitude,-2.725681e+00,-2.461746e+00,-6.204699,3.608065e+00,1.301813e+01
New Cases per Million,2.813329e+01,5.710000e+00,0.0,7.430971e+01,5.521933e+03
Total Cases per Million,1.148504e+04,6.804285e+03,11775.71,1.647739e+04,2.715042e+08
New Deaths per Million,6.403083e-01,0.000000e+00,0.0,1.933016e+00,3.736552e+00
Total Deaths per Million,2.896336e+02,1.584150e+02,0.0,3.634287e+02,1.320804e+05
Total Deaths per 100rb,2.896333e+01,1.584000e+01,0.0,3.634288e+01,1.320805e+03
Growth Factor of New Cases,1.326795e+00,1.000000e+00,1.0,2.679379e+00,7.179074e+00
Growth Factor of New Deaths,1.033834e+00,1.000000e+00,1.0,1.351755e+00,1.827242e+00
Date,NaN,NaN,1/1/2021,NaN,NaN
Location ISO Code,NaN,NaN,ID-JK,NaN,NaN
Location,NaN,NaN,DKI Jakarta,NaN,NaN
Location Level,NaN,NaN,Province,NaN,NaN
Province,NaN,NaN,DKI Jakarta,NaN,NaN
Country,NaN,NaN,Indonesia,NaN,NaN
Continent,NaN,NaN,Asia,NaN,NaN
Island,NaN,NaN,Sumatera,NaN,NaN
Time Zone,NaN,NaN,UTC+07:00,NaN,NaN
Special Status,NaN,NaN,Daerah Khusus,NaN,NaN
Case Fatality Rate,NaN,NaN,0.00%,NaN,NaN
Case Recovered Rate,NaN,NaN,0.00%,NaN,NaN